@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        .wrapper-admin {
            width: 100%;
            padding: 240px 0px;
            text-align: center;
        }

        .home-heading {
            font-size: 50px !important;
        }
    </style>
</head>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-admin">
                    <h1 class="home-heading">WELLCOME TO ADMIN PAGE!</h1>
                </div>
            </div>
        </div>
    </div>
</div>
